body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #032B44;
  color: #fff;
  /* You might want to add some padding here to give the header some height */
  padding: 1em;
  text-align: center;
}
body {
  background: linear-gradient(45deg, #032B44, #4682B4);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
